#site-content {
    @include clearfix;
}

.site-wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    @include clearfix();
    @include breakpoint(md) {
        width: 1000px;
        padding-left: 0;
        padding-right: 0;
    }
}