// icon sprites
.sprites {
    display: inline-block;
    background: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}

.sprite {
    &-facebook {
        background-position: 0px 0px;
        width: 24px;
        height: 24px;
        &:hover {
            background-position-y: -40px;
        }
    }
    &-instagram {
        background-position: -40px 0px;
        width: 24px;
        height: 24px;
        &:hover {
            background-position-y: -40px;
        }
    }
    &-zalo {
        background-position: -80px 0px;
        width: 24px;
        height: 24px;
        &:hover {
            background-position-y: -40px;
        }
    }
}